.container {
 
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 300px;
  height: 350px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 93%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #303036;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  width: 200px;
  height: 350px;
}
body{
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        background: #431463;
}
h1{
         
        border-radius: 11px;
        padding: 0px 11px 11px 7px;
      background: #FFF9FF;
      color: #B668E0;
      text-align: center;
      display: inline-block;
     }
p{
  background:#300156; 
  position: static;
  color:#FFF9FF;
  box-shadow: 0px 0px 8px #FFFAFF;
}
nav{
    background: #ffffff; 
     padding:9px 14px 8px 3px;
}
nav>a{
    text-decoration: none;
}     
@media(min-width: 720px){

 body{
      
       width:  1332px;
 
        
    } 


	 	nav{
    background: #ffffff;
    padding:20px 0px 19px 5px;
}
nav>a{
    padding-right: 166px;
    text-decoration: none;
}
       
		p{
      font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
			overflow: scroll;
			width: 200px;
			height: 392px;
			display: grid;
			grid-template-rows: 1fr  1fr 1fr;
			font-size: 3vh;
		}
	   
	   
	   .section{
	   	text-align: center;
	   	display: inline-flex;
       flex-wrap: wrap;
        padding: 12px 26px 16px 27px;
        font-family:sans-serif;

    }
    img{
     
      width: 100%;
    height: 267px;
padding: 27px 0px 0px 0px;
opacity: 0.5;
    }
    div{
    	padding: 130px -12px 5px 0px;
    }
	   }
}
@media(max-width: 720px){
.section{
      align-items:flex-end; 
      text-align: center;
      display: inline-flex;
       flex-wrap: wrap;
        padding: 6px 2px 16px 27px;
        font-family:sans-serif;

    }  
body{
    width: 527px;
}    
div {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    align-items: center;
    display: block;
}    
p{
    width: 181px;
    display: block;
}
}


